<?xml version="1.0" encoding="UTF-8"?>
<server description="Liberty server for labs">

    <!-- Enable features -->
    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${customize.http.port}"
                  httpsPort="${customize.https.port}" />
                  
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <webApplication id="Sample1" location="Sample1.war" name="Sample1" />

</server>
